<!DOCTYPE html>
<html>
<body>
<div class="center hero-unit">
<h1>Welcome to the Hell</h1>
<h2>
This is the home page for   
<a href="https://www.youtube.com/watch?v=UCM7oG9UGKc">Reanimating the dead</a>  
& also some Ruby On Rails Tutorial sample application.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Re-Animator"), 'http://matthewsaeed.com' %>
</body>
</html>
