<!DOCTYPE html>
<html>
<body>
<div class="center hero-unit">
<h1>Welcome to the Hell</h1>
<h2>
This is the home page for   
<a href="http://youtu.be/--YZ6USvYN4?t=55m53s/">Reanimating the dead</a>  
& also some Ruby On Rails Tutorial sample application.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Re-Animator"), 'http://matthewsaeed.com' %>
</body>
</html>
