<footer class="footer">
<small>
<a href="http://railstutorial.org/">Test Rails App</a>   
 by Matthew Saeed   
</small>
<nav>
<ul>
<li><%= link_to "About",   about_path %></li>
<li><%= link_to "Contact",  contact_path  %></li>
<li><a href="http://matthewsaeed.com/blog/wifi-piranha-blog/">News</a></li>
</ul>
</nav>
</footer>
